.cart-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}

.cart-container img{
    width: 150px;
}

.cart-inner-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cart-inner-container button{
    background-color: aliceblue;
}